<template>
    <b-container>
        <h3>Contribuer</h3>

        <p>
            Il est possible de contribuer à cette application de plusieurs manières.
        </p>

        <p>
            <strong>Contenu</strong> : Tout le monde peut soumettre un article,
            d'ailleur la base de données des article est ouverte
            et il est possible de <router-link to="/export">télécharger les articles</router-link> de cette instance à tout moment.
        </p>

        <p>
            <strong>Developement</strong> :
            Le <a href="https://framagit.org/alcalyn/fake-or-not" target="_blank">code source de cette application</a>
            est ouvert et sous license libre.
            <a href="https://framagit.org/alcalyn/fake-or-not" target="_blank">Frontend</a> en Vue.js,
            <a href="https://framagit.org/alcalyn/fake-or-not-backend" target="_blank">backend</a> en Symfony.
        </p>

        <p>
            <strong>Partage</strong> : Un autre moyen de contribuer et de partager cette application,
            qui possède son <a href="https://twitter.com/gorafi_ou_pas" target="_blank">compte Twitter</a>.
        </p>

        <h4>Soumettre un article</h4>

        <b-form @submit.prevent="onSubmit" v-if="show">
            <b-form-group
                label="Url de l'article original"
                description="Le reste du formulaire sera pré-rempli automatiquement après avoir renseigné l'url."
            >
                <b-form-input
                    size="lg"
                    v-model.trim="article.url"
                    @input="urlUpdated"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Titre de l'article">
                <b-form-input
                    v-model.trim="article.title"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group
                label="Date de publication de l'article"
                description="Le format doit ressembler à 2019-05-21."
            >
                <b-form-input
                    v-model.trim="article.datePublished"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group>
                <b-form-checkbox v-model="article.fake">Article venant du Gorafi</b-form-checkbox>
            </b-form-group>

            <b-button type="submit" variant="primary">Soumettre</b-button>
        </b-form>

        <br />

        <h5>Quels types d'article soumettre ?</h5>

        <b-row>
            <b-col sm>
                <h6>
                    Articles réels
                    <b-badge
                        v-if="needMoreReal()"
                        variant="warning"
                    >Besoin de plus !</b-badge>
                </h6>

                <p
                    v-if="needMoreReal()"
                    class="text-warning"
                >
                    Cette instance a un ratio haut ({{ fakePercentage | percent }}) d'articles du Gorafi.
                    Il faudrait se rapprocher du ratio {{ 0.33 | percent }} en ajoutant des articles réels.
                </p>

                <ul>
                    <li>Titre qui pourrait venir du Gorafi</li>
                    <li>Eviter les titres exagérés dont le contenu ne correspond pas (putaclic)</li>
                    <li>Eviter les articles peu factuels, people</li>
                    <li>Pas de quizz/test, horoscopes</li>
                </ul>
            </b-col>
            <b-col sm>
                <h6>
                    Articles du Gorafi
                    <b-badge
                        v-if="needMoreGorafi()"
                        variant="warning"
                    >Besoin de plus !</b-badge>
                </h6>

                <p
                    v-if="needMoreGorafi()"
                    class="text-warning"
                >
                    Cette instance a un ratio bas ({{ fakePercentage | percent }}) d'articles du Gorafi.
                    Il faudrait se rapprocher du ratio {{ 0.33 | percent }} en ajoutant des articles du Gorafi.
                </p>

                <ul>
                    <li>Titre qui pourrait être réel</li>
                    <li>Pas de quizz/test, horoscopes</li>
                </ul>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import container from '@/container';
import Article from '@/models/Article';
import Api from '@/services/Api';
import TrackingInterface from '@/services/Tracking/TrackingInterface';

@Component({
    components: {
    },
})
export default class extends Vue {

    private api!: Api;
    private tracking!: TrackingInterface;

    article: Article = new Article();
    show: boolean = true;
    fakePercentage: number|null = null;

    created(): void {
        this.api = container.get<Api>('Api');
        this.tracking = container.get<TrackingInterface>('TrackingInterface');
    }

    mounted(): void {
        this.displayWarningOnMoreNeededArticles();
    }

    urlUpdated(url: string): void {
        const resetArticle = new Article();
        resetArticle.url = this.article.url;
        this.article = resetArticle;

        this.api.getArticleFromUrl(url)
            .then(guessedArticle => {
                this.article = guessedArticle;
            })
        ;
    }

    onSubmit(): void {
        this.api.postArticle(this.article)
            .then(() => {
                this.$bvToast.toast(`Article "${this.article.title}" ajouté !`, {
                    title: 'Article ajouté',
                    variant: 'success',
                });

                this.tracking.submitArticle();
                this.resetForm();
            })
            .catch(error => {
                if (error.response.data.error && error.response.data.error.exception) {
                    this.$bvToast.toast(error.response.data.error.exception[0].message, {
                        title: 'Erreur lors de l\'ajout de l\'article',
                        variant: 'danger',
                        autoHideDelay: 12000,
                    });

                    return;
                }

                const message = error.response.data.map((error: {property_path: string, message: string}) => {
                    const { property_path, message } = error;

                    return `${property_path.toUpperCase()} (${message})`;
                }).join(', ');

                this.$bvToast.toast('Errors on fields '+message+'.', {
                    title: 'Erreur lors de l\'ajout de l\'article',
                    variant: 'danger',
                    autoHideDelay: 12000,
                });
            })
        ;
    }

    resetForm(): void {
        this.show = false;
        this.article = new Article();
        this.$nextTick(() => {
            this.show = true;
        });
    }

    displayWarningOnMoreNeededArticles(): void {
        this.api.getStats().then(instanceStats => {
            this.fakePercentage = instanceStats.count.fake / instanceStats.count.total;
        });
    }

    needMoreGorafi(): boolean {
        if (null === this.fakePercentage) {
            return false;
        }

        return this.fakePercentage < 0.25;
    }

    needMoreReal(): boolean {
        if (null === this.fakePercentage) {
            return false;
        }

        return this.fakePercentage > 0.40;
    }
}
</script>

<style scoped lang="stylus">
</style>
