<template>
    <b-container>
        <h3>Exporter</h3>
        <h4>Statistiques de cette instance</h4>
        <ul>
            <li class="lead">
                <strong>{{ stats.count.total }}</strong> articles au total
            </li>
            <li>
                <strong>{{ stats.count.real }}</strong> vrais articles
            </li>
            <li>
                <strong>{{ stats.count.fake }}</strong> faux articles
            </li>
            <li>
                <strong>{{ (stats.count.fake / stats.count.total) | percent }}</strong> de faux articles (recommandé : {{ 0.33 | percent }})
            </li>
        </ul>
        <b-button v-on:click.prevent="exportArticles()" variant="primary">Exporter les articles</b-button>
    </b-container>
</template>

<script lang="ts">
import jsFileDownload from 'js-file-download';
import { Component, Vue } from 'vue-property-decorator';
import container from '@/container';
import InstanceStats from '@/models/InstanceStats';
import Api from '@/services/Api';
import TrackingInterface from '@/services/Tracking/TrackingInterface';

@Component({
    components: {
    },
})
export default class extends Vue {

    private api!: Api;
    private tracking!: TrackingInterface;

    file: File|null = null;
    stats: InstanceStats = new InstanceStats();

    created() {
        this.api = container.get<Api>('Api');
        this.tracking = container.get<TrackingInterface>('TrackingInterface');
    }

    mounted() {
        this.loadStats();
    }

    exportArticles() {
        this.api.getArticlesExport()
            .then(articles => {
                jsFileDownload(JSON.stringify(articles), 'articles.json');
            })
        ;

        this.tracking.exportArticles();
    }

    loadStats() {
        this.api.getStats().then(instanceStats => this.stats = instanceStats);
    }
}
</script>

<style scoped lang="stylus">
</style>
