<template>
    <b-container>
        <h3>Quel article vient du Gorafi ?</h3>

        <b-list-group class="list-group-flush">
            <b-list-group-item
                href="#"
                v-for="choice in choices"
                v-bind:key="choice.article.title"
                v-on:click.prevent="select(choice)"
                v-bind:class="{
                    'list-group-item-warning':  !finished && choice.selected,
                    'list-group-item-success': finished && choice.article.fake,
                    'list-group-item-danger': finished && !choice.article.fake && choice.selected,
                }"
            >
                <h5>{{ choice.article.title }}</h5>
            </b-list-group-item>
        </b-list-group>

        <section v-if="finished" class="answer-article">
            <nav>
                <b-button v-on:click.prevent="displayAndSelectLink()" variant="primary">&#9787; Envoyer ce même quiz à quelqu'un</b-button>
                <b-button v-on:click.prevent="clickSeeArticle()" variant="primary">↓ Voir l'article ↓</b-button>
                <b-button v-on:click.prevent="clickAgain()" variant="success" size="lg">Un autre !</b-button>
            </nav>
            <p v-show="displayShareLink">
                Partagez ce lien vers ce même quiz :
                <span class="text-monospace copy-link">{{ shareLink }}</span>
            </p>
            <a v-bind:href="displayedArticle.url" target="_blank">
                {{ displayedArticle.url }}
            </a>
            <iframe v-bind:src="displayedArticle.url">
            </iframe>
        </section>
    </b-container>
</template>

<script lang="ts">
import axios from 'axios';
import { Component, Vue } from 'vue-property-decorator';
import container from '@/container';
import InstanceStats from '@/models/InstanceStats';
import Article from '@/models/Article';
import AnswerStat from '@/models/AnswerStat';
import TrackingInterface from '@/services/Tracking/TrackingInterface';
import Api from '@/services/Api';

interface Choice {
    article: Article;
    selected: boolean;
}

@Component({
    components: {
    },
})
export default class extends Vue {
    ARTICLES_PER_QUESTION: number = 3;
    REMEMBER_LAST_IDS: number = 0;

    private api!: Api;
    private tracking!: TrackingInterface;

    choices: Choice[] = [];
    finished: boolean = false;
    displayedArticle: Article|null = null;
    timeoutInterval: number|null = null;
    displayShareLink: boolean = false;
    shareLink: string = '';

    created(): void {
        this.api = container.get<Api>('Api');
        this.tracking = container.get<TrackingInterface>('TrackingInterface');
    }

    mounted(): void {
        this.reset();
        this.initRememberLastIdsCount();

        const urlHash: string = window.location.hash.substr(1);

        if (urlHash && urlHash.match(/^[0-9]+,[0-9]+,[0-9]+$/)) {
            this.displayCustomArticles(urlHash);
            window.location.hash = '';
            return;
        }

        this.displayNewRandomArticles();
    }

    clickAgain() {
        this.reset();
        this.displayNewRandomArticles();
        this.tracking.playAgain();
    }

    clickSeeArticle() {
        this.scrollToAnswer();
    }

    reset() {
        this.choices = [];
        this.finished = false;
        this.displayShareLink = false;
    }

    select(choice: Choice) {
        if (this.finished) {
            this.displayedArticle = choice.article;
            return;
        }

        this.choices.forEach((choice: Choice) => {
            choice.selected = false;
        });

        choice.selected = true;

        if (null !== this.timeoutInterval) {
            clearTimeout(this.timeoutInterval);
        }

        this.timeoutInterval = setTimeout(() => {
            this.finished = true;
            this.displayedArticle = choice.article;
            this.api.postAnswerStat(this.createAnswerStat());
        }, 1000);
    }

    createAnswerStat() {
        const selectedChoice = this.choices.filter(choice => choice.selected).pop();

        if (!selectedChoice) {
            throw new Error('Impossible to create an AnswerStat, no selected choice.');
        }

        if (!selectedChoice.article.id) {
            throw new Error('Impossible to create an AnswerStat, selected article has no id.');
        }

        return new AnswerStat(
            this.choices.map(choice => choice.article.id),
            selectedChoice.article.id,
        );
    }

    scrollToAnswer() {
        const answerArticle = document.querySelector('.answer-article');

        if (null === answerArticle) {
            return;
        }

        answerArticle.scrollIntoView({
            behavior: 'smooth',
        });
    }

    displayNewRandomArticles(): void {
        this.api.getWhichOneIsFakeArticles(this.getAlreadyUsedArticleIds())
            .then(this.displayArticlesAndMemorize)
        ;
    }

    displayCustomArticles(ids: string): void {
        this.api.getCustomWhichOneIsFakeArticles(ids)
            .then(this.displayArticlesAndMemorize)
        ;
    }

    private displayArticlesAndMemorize(articles: Article[]): void {
        this.choices = articles.map((article: Article) => {
            return {
                article,
                selected: false,
            };
        });

        this.addAlreadyUsedArticle(articles);
    }

    getAlreadyUsedArticleIds(): string {
        this.keepLastAlreadyUsedArticleIds();

        return localStorage.alreadyUsedArticleIds;
    }

    addAlreadyUsedArticle(articles: Article[]) {
        const newIds: string = articles
            .map(article => article.id)
            .join(',')
        ;

        if (!localStorage.alreadyUsedArticleIds) {
            localStorage.alreadyUsedArticleIds = newIds;
            return;
        }

        localStorage.alreadyUsedArticleIds += ',' + newIds;

        this.keepLastAlreadyUsedArticleIds();
    }

    keepLastAlreadyUsedArticleIds() {
        if (!localStorage.alreadyUsedArticleIds) {
            return;
        }

        if (0 === this.REMEMBER_LAST_IDS) {
            localStorage.alreadyUsedArticleIds = '';
            return;
        }

        localStorage.alreadyUsedArticleIds = localStorage.alreadyUsedArticleIds
            .split(',')
            .slice(-this.REMEMBER_LAST_IDS)
            .join(',')
        ;
    }

    initRememberLastIdsCount(): Promise<number> {
        return this.api.getStats()
            .then(instanceStats => this.calcRememberLastIdsCount(instanceStats))
            .then(articlesNumberToRemember => this.REMEMBER_LAST_IDS = articlesNumberToRemember)
        ;
    }

    /**
     * Memorize enough articles so that 75% of dataset can be explored
     * before seeing a same article title twice.
     */
    calcRememberLastIdsCount(instanceStats: InstanceStats): number {
        const maxNewQuestionCount: number = Math.min(
            Math.floor(instanceStats.count.real / (this.ARTICLES_PER_QUESTION - 1)),
            instanceStats.count.fake,
        );

        return Math.round((maxNewQuestionCount - 1) * this.ARTICLES_PER_QUESTION * 0.75);
    }

    displayAndSelectLink(): void {
        this.shareLink = this.getCurrentUrlWithHash(this.choices.map(choice => choice.article.id).join(','));
        this.displayShareLink = true;

        const node = document.querySelector('.copy-link');

        if (node && window.getSelection) {
            const selection = window.getSelection();

            if (!selection) {
                return;
            }

            const range = document.createRange();
            range.selectNodeContents(node);
            selection.removeAllRanges();
            selection.addRange(range);
        }
    }

    private getCurrentUrlWithHash(hash: string): string {
        const parts = [
            document.location.protocol,
            '//',
            document.location.hostname,
        ];

        if (document.location.port) {
            parts.push(':');
            parts.push(document.location.port);
        }

        parts.push(document.location.pathname);
        parts.push('#');
        parts.push(hash);

        return parts.join('');
    }
}
</script>

<style scoped lang="stylus">
.list-group-item
    transition background-color 100ms ease

.copy-link
    background-color #eee
    display block

.answer-article
    margin-top 2em

    nav
        text-align right

        button
            margin 0 1em

    a
        border 1px solid rgba(0, 0, 0, 0.10)
        border-radius 0.5em
        display block
        padding 0.5em
        margin 1em 0

    iframe
        width 100%
        height 36em
        border 0
</style>
