<template>
    <b-container>
        <h3>Statistiques de vos réponses</h3>

        <b-row>
            <b-col md class="pb-5 pb-md-0">
                <h4>Articles réels les plus pris pour des articles du Gorafi</h4>
                <p class="text-muted font-italic">Nooon, c'est un vrai article ça ?!</p>

                <b-list-group>
                    <b-list-group-item
                        v-for="article in stats.realThatSeemsFakes.filter(realThatSeemsFakesFilter)"
                        v-bind:key="article.id"
                    >
                        <h5>{{ article.title }}</h5>
                        <p class="text-muted">
                            {{ article.datePublished | dayjsFormat('MMMM YYYY') }}
                            <span class="show-on-hover">
                                -
                                <a v-bind:href="article.url" target="_blank">Voir l'article</a>
                            </span>
                        </p>
                        <p>
                            <strong>{{ article.ratio | percent }}</strong>
                            ont été piégés.
                            (Vu {{ article.total }} fois).
                        </p>
                    </b-list-group-item>
                </b-list-group>
            </b-col>

            <b-col md class="pb-5 pb-md-0">
                <h4>Articles du Gorafi qui semblent les plus réels</h4>
                <p class="text-muted font-italic">Ca aurait pû être vrai...</p>

                <b-list-group>
                    <b-list-group-item
                        v-for="article in stats.fakeThatSeemsReals.filter(fakeThatSeemsRealsFilter)"
                        v-bind:key="article.id"
                    >
                        <h5>{{ article.title }}</h5>
                        <p class="text-muted">
                            {{ article.datePublished | dayjsFormat('MMMM YYYY') }}
                            <span class="show-on-hover">
                                -
                                <a v-bind:href="article.url" target="_blank">Voir l'article</a>
                            </span>
                        </p>
                        <p>
                            <strong>{{ article.ratio | percent }}</strong>
                            l'ont démasqué.
                            (Vu {{ article.total }} fois).
                        </p>
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>

        <p class="text-muted font-italic">Statistiques du {{ stats.statsGeneratedAt | dayjsFormat('D MMMM') }}.</p>

    </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import container from '@/container';
import Article from '@/models/Article';
import ArticleWithStats from '@/models/ArticleWithStats';
import Stats from '@/models/Stats';
import Api from '@/services/Api';
import TrackingInterface from '@/services/Tracking/TrackingInterface';

@Component({
    components: {
    },
})
export default class extends Vue {
    private api!: Api;

    stats: Stats = new Stats();

    created(): void {
        this.api = container.get<Api>('Api');
    }

    mounted(): void {
        this.spoilAlert();
        this.api.getAnswerStats().then(stats => this.stats = stats);
    }

    realThatSeemsFakesFilter(article: ArticleWithStats, index: number): boolean {
        return article.ratio >= 1/2 || index < 5;
    }

    fakeThatSeemsRealsFilter(article: ArticleWithStats, index: number): boolean {
        return article.ratio <= 1/2 || index < 5;
    }

    spoilAlert(): void {
        if ('true' !== localStorage.haveConfirmedSpoilAlert) {
            localStorage.haveConfirmedSpoilAlert = confirm('SPOIL ALERT !\n\nVous êtes sur le point de voir les statistiques qui vous donneront les réponses !');

            if ('true' !== localStorage.haveConfirmedSpoilAlert) {
                this.$router.go(-1);
            }
        }
    }
}
</script>

<style scoped lang="stylus">
.show-on-hover
    display none

.list-group-item:hover
    .show-on-hover
        display inline
</style>
