<template>
    <div>
        <header class="main-header">
        </header>
        <main id="app">
            <router-view/>
        </main>
        <footer class="main-footer">
            <nav>
                <router-link to="/">Jouer</router-link>
                <router-link to="/contribute">Contribuer</router-link>
                <router-link to="/export">Exporter les articles</router-link>
                <router-link to="/stats">Statistiques</router-link>
            </nav>
        </footer>
    </div>
</template>

<style lang="stylus">
#app
    margin: 2em 0
    font-family 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    color #2c3e50

    h3
        margin-bottom 1em

.main-header,
.main-footer
    text-align center

    nav a
        padding .25em .75em

.main-footer
    padding 2em 0
    background-color #00000010
</style>
